body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* style code for header below  */
header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* style code for logo below  */

header .logo img {
    max-height: 50px;
    margin-left: 20px;
}
/* style code for nav bar below  */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}
/* style code for footer below  */

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* style code for ascending and descending buttons below  */

.controls button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.controls button.sort-asc {
    background-color: #20066e;
    color: rgb(247, 246, 246);
}

.controls button.sort-asc:hover {
    background-color: #45a049;
}

.controls button.sort-desc {
    background-color: #0556a2;
    color: white;
}

.controls button.sort-desc:hover {
    background-color: #da190b;
}
/* style code for gallery below  */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    max-width: 300px;
    border-radius: 10px;
    cursor: pointer;
}

.sort-options {
    margin-bottom: 20px;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    max-width: 80%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
